<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>News Site</title>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <ul>
            <li class="selectedNav"><a href="#">България</a></li>
            <li><a href="#">Светът</a></li>
            <li><a href="#">Крими</a></li>
            <li><a href="#">Развлечение</a></li>
            <li><a href="#">Аз,Репортерът</a></li>
            <li><a href="#">Здравей,България</a></li>
        </ul>
    </nav>

    <aside>
        <ul>
            <li class="selectedAside"><a href="#">ТОП НОВИНИ</a></li>
            <li><a href="#">Непалци с минута мълчание за жертвите от труса</a></li>
            <li><a href="#">Приемна майка се грижи за пребитата 2-годишна Сияна</a></li>
            <li><a href="#">Броят на пострадалите от труса в Непал надхвърли 16 000 души</a></li>
            <li><a href="#">Бащата на убитата Ани на косъм от линч в затвора.</a></li>
        </ul>
    </aside>

    <section id="player" class="clearfix"></section>
</body>
</html>
