body, table, td, th, tr, div, a {
    padding: 0;
    margin: 0;
}

body {
    margin: 0.3em;
    padding-top: 0.2em;
    padding-left: 0.2em;
}

table {
    background-color: #595959;
    font-size: 0.8em;
    padding-top: 0.3em;
    padding-right: 7.5em;
    line-height:1.5em;
}

table td {
    padding: 0.3em 0 0.3em 0;
}

.table-data {
    color: #E5F0F0;
    font-style: italic;
}
.grey-data{
    color:#ADB5A3;
}

#ticket {
    color: #8DA7AF;
    font-size: 1.3em;
    font-family: Arial;
}

#point {
    width: 0.8em;
    height: 0.9em;
}

.yellow-text {
    color: #E6E196;
}

#support {
    color: red;
}
#ansewered{
    color:orangered;
    font-size:1.0em;
}

table td{
    width:7.5em;
}