body, table, td, th, tr, div, a {
    padding: 0;
    margin: 0;
}

body {
    margin: 0.3em;
    padding-top:2px;
    padding-left:2px;   
}
table td {
    padding:3px 40px 5px 0px;
    font-size:13px;
    text-align:left;

}

th{
    background-color:#56B906;
    color:#FFFFFF;
    font-size:10px; 
    font-family:'Lucida Sans Typewriter';
    text-align:left; 
    font-style:normal;
    padding:5px 40px 5px 0px;
    
}

tr:nth-child(2n){
    background: #CCC; 
}

tr:nth-child(2n+1){
    background: #FFF;
}

.flag {
    width: 1.3em;
    height: 0.9em;
    padding-right:0.3em;
}
